* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    width: 1080px;
}

#main {
    width: 100%;

}

#header {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
}

#preview-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    width: 23%;
    height: 200px;
    border: 1px solid black;
    margin-top: 20px;
    overflow: hidden;
}

#videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}