body {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: 0 bottom;
}

img {
    position: absolute;
    top: 600px;
    left: 650px;
    width: 110px;
    height: 110px;
    transition: all .1s ease;
}

.rotate {
    transform: rotateY(180deg)
}

.rotate2 {
    transform: rotateX(360deg);
}

.jumping {
    top: 450px;
}